<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Nouvelle oeuvre
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
  body
    div.container.mt-5
      h1 Ajouter une oeuvre
      p Attention, seule les collections non permanentes peuvent-être supprimées
      form.form-inline(action="/oeuvre/create", method="post")
        input.form-control(type="text", placeholder="nom", name="name")
        select.form-control(name="collection")
          each collection in collections
            option(value=collection.id) #{collection.name}
        select.form-control(name="category")
          each categorie in categories
            option(value=categorie.id) #{categorie.name}
        input.btn.btn-danger(type="submit", value="Envoyer")
      a(href="/") Retour au musée